# Original from @Frenck



# Generic ignores
*.DISABLED
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.db*
*.log*
*.db
*.pyc
._*
__pycache__
*.sqlite
.google.token
.uuid
home-assistant_v2
home-assistant_v2.*
alexa_media
.homekit.state
known_devices.yaml
ip_bans.yaml
ipchange.yaml
production_auth.json
OZW_Log.txt


# Directory (contents) ignores
.cloud
.storage
deps

# Specific file ignores
core.*
core
image
ip_bans.yaml
secrets.yaml

# Build-in BLUEPRINT ignores
blueprints/*/homeassistant

# ESPHome ignores
esphome/.*/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*
.pem

# Ignore vendored stuff
custom_components

# Specific keeps
!.gitkeep

# Temporary ignores
.old_config

